<div class="d-flex align-items-center justify-content-center w-100 v-100 mb-5">
    <div class="row w-100 justify-content-center">
        <div class="col-md-10 col-sm-12">
            <form [formGroup]="demandeForm" *ngIf="demandeForm">
                <div class="row gx-2 p-2 justify-content-between border rounded w-100 mt-3">
                    <div class="col-md-4 col-sm-5 col-12">
                        <div>
                            <h6>Commune</h6>
                            <p>{{agent.commune.nom}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-12">
                        <div>
                            <h6>Par: </h6>
                            <p>{{agent.nom+" "+agent.prenom}}</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-5 col-12">
                        <div>
                            <h6>Date Saisie</h6>
                            <p>{{demande.date_saisie |date}}</p>
                        </div>
                    </div>

                </div>


                <div class="row gx-2 p-2 justify-content-between border rounded w-100 mt-3">
                    <div class="col-md-3 col-sm-5 col-12">
                        <div>
                            <h6>Date Demande</h6>
                            <p>{{demande.date_demande |date}}</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-5 col-12">
                        <div>
                            <h6>Annee Demande</h6>
                            <p>{{demande.annee_demande}}</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-3 col-sm-5 col-12">
                        <div>
                            <h6>Numero Demande</h6>
                            <p>{{demande.num_demande}}</p>
                        </div>
                    </div> -->
                    <div class="col-md-3 col-sm-5 col-12">
                        <div>
                            <h6>Type Demande</h6>
                            <p>{{demande.type_demande}}</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-2 p-2 justify-content-between border rounded w-100 mt-3">
                    <div class="col-12">
                        <div>
                            <h6>Objet</h6>
                            <p>{{demande.objet}}</p>
                        </div>
                    </div>
                </div>
                <div class="row gx-2 p-2 justify-content-between border rounded w-100 mt-3">
                    <div class="col-12">
                        <div>
                            <h6>Text Demande</h6>
                            <p class="border rounded p-2 bg-warning-subtle">{{demande.text}}</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-around mt-3 mx-2"><button type="button" class="btn btn-primary"
                        data-bs-toggle="modal" data-bs-target="#publierModal">Publier</button>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#rectifierModal">Rectifier</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- Rectifier Modal -->
<div class="modal fade" id="rectifierModal" tabindex="-1" aria-labelledby="rectifierModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="rectifierModalLabel">Rectifier demande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="remarque">Remarque</label>
                    <textarea class="form-control" id="remarque" rows="3" maxlength="255" #R></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    (click)="ARectifierDemande(R.value)">Rectifier</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<!-- Publier Modal -->
<div class="modal fade" id="publierModal" tabindex="-1" aria-labelledby="publierModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="publierModalLabel">Publier demande</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir publier cette demande ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                    (click)="AccepterDemande()">Publier</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>